<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found - Toney</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="notfound_pozadi">
    {% include "navbar.html" %}

    <div class="notfound">
        <h1>Nothing but silence here.</h1><br>
        <p>Whatever you were looking for seems to not exist as of right now. Unless you were looking for this error page, if you did: Congrats! You're here!</p>
    </div>
</body>
</html>