<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toney</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% include "navbar.html" %}
    <div class="nadpisy">
        <h1>Add Song</h1><br>
        <form action="{{ url_for('zpracuj_song') }}" method="POST" enctype="multipart/form-data">
            <label for="">Title:</label>
            <input type="text" name="title" required autocomplete="off"/><br>
            <label for ="">Author:</label>
            <input type="text" name="author" required autocomplete="off"/><br>
            <label for ="">Album:</label>
            <select name="album" required class="selecter">
                {% for album in albums %}
                    <option value="{{ album.album_id }}">{{ album.title }}</option>
                {% endfor %}
            </select><br>
            <label for ="">Song:</label>
            <input type="file" name="songfile" accept=".mp3" required><br>
            <input type="submit" value="Add">
        </form>
    </div>

    <div class="nadpisy">
    <h1>Delete Song</h1><br>
    <form action="{{ url_for('del_song') }}" method="POST" enctype="multipart/form-data">
        <label for="id">Song:</label>
        <select name="id" required class="selecter">
            {% for song in songs %}
                <option value="{{ song.song_id }}">{{ song.title }} by {{ song.author }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Delete">
    </form>
    </div>

    <div class="nadpisy">
        <h1>Add Album</h1><br>
    <form action="{{ url_for('zpracuj_album') }}" method="POST" enctype="multipart/form-data">
        <label for="">Title:</label>
        <input type="text" name="title" required autocomplete="off"/><br>
        <label for ="">Author:</label>
        <input type="text" name="author" required autocomplete="off"/><br>
        <label for ="">Release Date:</label>
        <input type="number" name="release" required autocomplete="off"/><br>
        <label for ="">Album Cover:</label>
        <input type="file" name="albumfile" accept=".png, .jpg, .jpeg" required><br>
        <input type="submit" value="Add">
    </form>
    </div>

    <div class="nadpisy">
        <h1>Delete Album</h1><br>
        <form action="{{ url_for('del_album') }}" method="POST" enctype="multipart/form-data">
            <label for="id">Album:</label>
            <select name="id" required class="selecter">
                {% for album in albums %}
                    <option value="{{ album.album_id }}">{{ album.title }} by {{ album.author }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Delete">
        </form>
        </div>
</body>
</html>