<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toney</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="pozadi">
    <div class="nav">
        <h1><a href="/" class="title">Toney</a></h1>
        <a href="social" class="btn">Social</a>
        <a href="profile" class="profile-button">Profile</a>
        <a href="/" class="btn">Home</a>
        <a href="explore" class="btn">Explore</a>
        <a href="library" class="btn">Library</a>
        <a href="login" class="btne">Login</a>
        <a href="add-song" class="btn">Add Song</a>
    </div><br><br>
    <div class="nadpisy">
        <h1>Add Song</h1><br>
    <form action="{{ url_for('zpracuj_song') }}" method="POST" enctype="multipart/form-data">
        <label for="">Title:</label>
        <input type="text" name="title" required/><br>
        <label for ="">Author:</label>
        <input type="text" name="author" required/><br>
        <label for ="">Album:</label>
        <input type="text" name="album" required/><br>
        <label for ="">Song:</label>
        <input type="file" name="songfile" accept=".mp3" required><br>
        <input type="submit" value="Add">
    </form>
    </div>

    <div class="nadpisy">
        <h1>Add Album</h1><br>
    <form action="{{ url_for('zpracuj_album') }}" method="POST" enctype="multipart/form-data">
        <label for="">Title:</label>
        <input type="text" name="title" required/><br>
        <label for ="">Author:</label>
        <input type="text" name="author" required/><br>
        <label for ="">Release Date:</label>
        <input type="number" name="release" required/><br>
        <label for ="">Album Cover:</label>
        <input type="file" name="albumfile" accept=".png, .jpg, .jpeg" required><br>
        <input type="submit" value="Add">
    </form>
    </div>
</body>
</html>