<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toney</title>
</head>
<body class="pozadi">
    {% include "navbar.html" %}

    {% set ns = namespace(album_songs=0) %}
    {% for song in songs %}
        {% if album.title == song.album %}
            {% set ns.album_songs = ns.album_songs + 1 %}
        {% endif %}
    {% endfor %}

    <div class="nadpisy"><br><br>
        <div class="album_albumpage">
            <div class="cover_albumpage">
                <img class="album_cover_albumpage" src="../static/data/albums/{{ album.albumfile }}"/>
            </div>
            <div class="details_albumpage">
                <p>Album</p>
                <h1 class="album_title_albumpage">{{ album.title }}</h1>
                <p class="album_details_albumpage">{{ album.author }} ♦ {{ album.release }} ♦ {{ ns.album_songs }} songs</p>
            </div>
        </div>
    </div>
</body>
</html>