<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toney</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    <div class="nav">
        <h1><a href="index.html" class="title">Toney</a></h1>
        <a href="Social.html" class="btn">Social</a>
        <a href="Profile.html" class="profile-button">Profile</a>
        <a href="index.html" class="btn">Home</a>
        <a href="Explore.html" class="btn">Explore</a>
        <a href="Library.html" class="btn">Library</a>
        <a href="Login_test.html" class="btne">Login</a>
    </div>
    <img class="img-obrazky-jedn" src="https://th.bing.com/th/id/OIP.MW7asDSok64bb_T9ap-_QwHaFj?pid=ImgDet&rs=1"/>
    <h1 class="Pojmenovani">Playlist</h1>
    <h1 class="Nadpisy-playlistu">Electro</h1>
    <h1 class="Info-o-playlistu">Listen and enjoy the beat, and don't forget to dance!!!</h1>
    <table class="Tabulka-playlist">
        <thead>
            <tr>
                <th class="Odsazení-název-playlist">Název</th>
                <th class="Odsazení-album-playlist">Album</th>
                <th class="Odsazení-time-playlist">Time</th>
            </tr>
        </thead>
    </table>
    <table>
        <thead>
            <tr class="Librarysongs-R1">
                <th>
                    <p class="Librarysongs-1">Play Hard</p>
                    <p class="Librarysongs-2">David Guetta</p>
                </th>
            </tr>
            <tr class="Librarysongs-R2">
                <th>
                    <p class="Librarysongs-1">Idk nevím jak se to jmenuje, změním pak</p>
                    <p class="Librarysongs-2">Idk nevím jak se to jmenuje, změním pak</p>
                </th>
            </tr>
        </thead>
    </table>
    <audio controls class="Librarymusic" src="Songy/Electro/David_Guetta_-_Play_Hard_ft_Ne-Yo_(getmp3.pro).mp3"></audio>
    <audio controls class="Librarymusic" src="Songy/Electro/AGW8QW3-electro.mp3"></audio>
</body>
</html>