<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% include "navbar.html" %}

    <table>
        <tr class="TR_MP">
            {% for album in albums %}
            <th class="songs">
                <a href="" class="SP_MP">
                    <img class="btn_img" src="../static/data/albums/{{ album.albumfile }}"/>
                    <p class="playlist_popis">{{ album.title }}</p>
                </a>
                <p class="popisky_play">{{ album.author }}</p>
            </th>
            {% endfor %}
        </tr>
    </table>
</body>
</html>