<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% include "navbar.html" %}

    <div class="nadpisy"><br><br>
        <h1>Albums</h1><br>
        <div class="scrollmenu">
            <table> 
                <tr>
                    {% for album in albums %}
                    <th class="songs">
                        <div class="album">
                            <a href="" class="SP_MP">
                                <img class="btn_img" src="../static/data/albums/{{ album.albumfile }}"/>
                                <p class="playlist_popis">{{ album.title }}</p>
                            </a>
                            <p class="popisky_play">{{ album.author }}</p>
                        </div><br>
                    </th>
                    {% endfor %}
                </tr>
            </table>
        </div><br><br>
        <h1>Songs</h1><br>
        <div class="scrollmenu">
            <table> 
                <tr>
                    {% for song in songs %}
                        <th class="songs">
                            <div class="song">
                                {% for album in albums %}
                                    {% if album.title == song.album %}
                                        <a href="" class="SP_MP">
                                            <img class="song_btn_img" src="../static/data/albums/{{ album.albumfile }}"/>
                                        </a>
                                        <div>
                                            <a href="" class="SP_MP"><p class="playlist_popis">{{ song.title }}</p></a>
                                            <p class="popisky_play">{{ song.author }} ♦ {{ song.album }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </th>
                    {% endfor %}

                </tr>
            </table>
        </div><br><br>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
