<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% include "navbar.html" %}

    <div class="feedback">
        <form action="{{url_for('feedback')}}" method="POST">
                <label for="" >Type your feedback here:</label><br/>
                <input type="text" name="feedbackBox" id="feedbackinput">
                <input type="submit" value="Send" id="feedbacksubmit">

        </form>
    </div>

</body>
</html>