<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toney</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% include "navbar.html" %}

    <div class="nadpisy">
        <h1>Quick Select</h1><br>

    <div id="hotbar" class="hotbar-mainpage">
        <button id="rewindButton">Vrátit 15s</button>
        <button id="playButtonHotbar">Spustit</button>
        <button id="pauseButtonHotbar">Pauza</button>
        <button id="forwardButton">Přetočit 15s</button>
        <button id="muteButton">Ztlumit</button>
        <input type="range" id="volumeRange" min="0" max="1" step="0.1" value="1">
        <button id="hideHotbarButton">Skrýt</button>
    </div>


    <script src="script.js"></script>

        <table class="QP_MP">
            <tr class="TR_MP">
                <th class="songs">
                    <h3>Blinding Lights</h3>
                    <p class="popisky">The Weeknd ♦ After Hours</p>
                    <a href="#" class="playButton" data-src="/static/Songy/Main Page Songz/Blinding Lights.mp3">
                        <img class="btn_img" src="/static/Images/Playlist covers/The_Weeknd_-_Blinding_Lights.png", class="playButton">
                    </a>
                    <audio id="audioPlayer" class="Music_MP"></audio>
                </th>

                <th class="songs">
                    <h3>Lemon Tree </h3>
                    <p class="popisky">Fools Garden ♦ Dish Of The Day</p>
                    <a href="#" class="playButton" data-src="/static/Songy/Main Page Songz/Lemon Tree.mp3">
                        <img class="btn_img" src="/static/Images/Playlist covers/Dish_of_the_Day_(Fools_Garden_album_-_cover_art).jpg", class="playButton">
                    </a>
                    <audio id="audioPlayer" class="Music_MP"></audio>
                </th>

                <th class="songs">
                    <h3>Save Your Tears </h3>
                    <p class="popisky">The Weeknd ♦ After Hours</p>
                    <a href="#" class="playButton" data-src="/static/Songy/Main Page Songz/Save Your Tears.mp3">
                        <img class="btn_img" src="/static/Images/Playlist covers/Save Your Tears The Weeknd After Hours.jpg", class="playButton">
                    </a>
                    <audio id="audioPlayer" class="Music_MP"></audio>
                </th>

                <th class="songs">
                    <h3>Budu ti vyprávět </h3>
                    <p class="popisky">Michal Hrůza ♦ Naporad</p>
                    <a href="#" class="playButton" data-src="/static/Songy/Main Page Songz/Budu ti vypravet.mp3">
                        <img class="btn_img" src="/static/Images/Playlist covers/Budu ti vypravet Michal hruza.jpg", class="playButton">
                    </a>
                    <audio id="audioPlayer" class="Music_MP"></audio>
                </th>

                    <th class="songs">
                        <h3>California Dreamin'</h3>
                        <p class="popisky">The Mamas & The Papas ♦ All The Leaves Are Brown: The Golden Era Collection</p>
                        <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/California Dreamin'.mp3"></audio><br>
                    </th>
    
                    <th class="songs">
                        <h3>Butterfly</h3>
                        <p class="popisky">Smile ♦ Smile</p>
                        <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/Butterfly.mp3"></audio><br>
                    </th>
            </tr>

            <tr class="TR_MP">
                <tr>
                    <th class="songs">
                        <h3>Counting Stars</h3>
                        <p class="popisky">OneRepublic ♦ Native</p>
                        <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/counting stars.mp3"></audio><br>
                    </th>
    
                    <th class="songs">
                        <h3>Year 3 Billion</h3>
                        <p class="popisky">Kevin Temmer ♦ Year 3 Billion</p>
                        <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/year 3 billion.mp3"></audio><br>
                    </th>
    
                    <th class="songs">
                        <h3>It Just Works</h3>
                        <p class="popisky">The Chalkeaters ♦ It Just Works</p>
                        <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/it just works.mp3"></audio><br><br>
                    </th>
            </tr>

            <tr class="TR2_MP">
                <th class="songs">
                    <h3>99 Luftballons</h3>
                    <p class="popisky">Nena ♦ Nena</p>
                    <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/99 luftballons.mp3"></audio><br>
                </th>

                <th class="songs">
                    <h3>Keyman</h3>
                    <p class="popisky">Jack Stauber's Micropop ♦ Dinner Is Not Over / There's Something Happening / Keyman / Cupid</p>
                    <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/keyman.mp3"></audio><br>
                </th>

                <th class="songs">
                    <h3>Touch-Tone Telephone</h3>
                    <p class="popisky">Lemon Demon ♦ Spirit Phone</p>
                    <audio controls class="Music_MP" src="/static/Songy/Main Page Songz/touch-tone telephone.mp3"></audio><br>
                </th>
            </tr>
        </table>
        <div>
            <h1>Favourite Playlists</h1><br>
            <table class="QP_MP">
                <tr class="TR_MP">
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Not Added.png"/>
                            <p class="playlist_popis">Good old 90's</p>
                        </a>
                        <p class="popisky_play">Oasis, Basement Jaxx, Manic Street Preachers</p>
                    </th>
    
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Not Added.png"/>
                            <p class="playlist_popis">Jazz for focus</p>
                        </a>
                        <p class="popisky_play">Triosence, Joey Alexander, Jasmine Myra, Paul Bao</p>
                    </th>
    
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Not Added.png"/>
                            <p class="playlist_popis">Modern ukrainan pop</p>
                        </a>
                        <p class="popisky_play">Jerry Heil, DOROFEEVA, Artem Pivovarov, Wellboy</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Not Added.png"/>
                            <p class="playlist_popis">Electronic for focus</p>
                        </a>
                        <p class="popisky_play">Plaid, Jon Hopkins, Boards of Canada, Two Lone Swo...</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Not Added.png"/>
                            <p class="playlist_popis">Sunshine Pop</p>
                        </a>
                        <p class="popisky_play">Coldplay, OneRepublic, The Script, Fifth Harmony</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Not Added.png"/>
                            <p class="playlist_popis">Refreshing K-pop</p>
                        </a>
                        <p class="popisky_play">ITZY, Red Velvet, IU, OH MY GIRL</p>
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <h1>Pop Playlists</h1><br>
            <table class="QP_MP">
                <tr class="TR_MP">
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Jack Stauber.png"/>
                            <p class="playlist_popis">Shop: A Pop Opera</p>
                        </a>
                        <p class="popisky_play">Album ♦ Jack Stauber's Micropop</p>
                    </th>
    
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Weird Al.png"/>
                            <p class="playlist_popis">Alpocalypse</p>
                        </a>
                        <p class="popisky_play">Album ♦ "Weird Al" Yankovic</p>
                    </th>
    
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Lady Gaga.png"/>
                            <p class="playlist_popis">Joanne</p>
                        </a>
                        <p class="popisky_play">Album ♦ Lady Gaga</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Mariah Carey.png"/>
                            <p class="playlist_popis">Merry Christmas</p>
                        </a>
                        <p class="popisky_play">Album ♦ Mariah Carey</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Jack Stauber2.png"/>
                            <p class="playlist_popis">Pop Food</p>
                        </a>
                        <p class="popisky_play">Album ♦ Jack Stauber</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Michael Jackson.png"/>
                            <p class="playlist_popis">Bad</p>
                        </a>
                        <p class="popisky_play">Album ♦ Michael Jackson</p>
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <h1>Rock Playlists</h1><br>
            <table class="QP_MP">
                <tr class="TR_MP">
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Tally Hall Playlist 1.png"/>
                            <p class="playlist_popis">Marvin's Marvelous <br>Mechanical Museum</p>
                        </a>
                        <p class="popisky_play">Album ♦ Tally Hall</p>
                    </th>
    
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Will Wood Playlist.png"/>
                            <p class="playlist_popis">The Normal Album</p>
                        </a>
                        <p class="popisky_play">Album ♦ Will Wood</p>
                    </th>
    
                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Radiohead Playlist.png"/>
                            <p class="playlist_popis">OK Computer</p>
                        </a>
                        <p class="popisky_play">Album ♦ Radiohead</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Beatles Playlist.png"/>
                            <p class="playlist_popis">Abbey Road</p>
                        </a>
                        <p class="popisky_play">Album ♦ The Beatles</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/David Bowie Playlist.png"/>
                            <p class="playlist_popis">The Rise and Fall of Ziggy <br>Stardust and the Spiders from Mars</p>
                        </a>
                        <p class="popisky_play">Album ♦ David Bowie</p>
                    </th>

                    <th class="songs">
                        <a href="" class="SP_MP">
                            <img class="btn_img" src="/static/Images/Playlist covers/Tally Hall Playlist 2.png"/>
                            <p class="playlist_popis">Good & Evil</p>
                        </a>
                        <p class="popisky_play">Album ♦ Tally Hall</p>
                    </th>
                </tr>
            </table>
        </div>
        <h1>Party Playlists</h1><br>
        <h1>Classical Playlists</h1><br>
        <h1>Dubstep Playlists</h1>

    </div>
<a href="https://www.youtube.com/watch?v=X-o_aQFubPc" class="WHATLEY_CRAB">
    <p class="WHATLEY_CRAB">Wheatley Crab</p>
</a>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="../static/script.js"></script>
</body>
</html>