<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% include "navbar.html" %}
    <a href="easter-egg.html" class="Easter">Easter</a>

    <div class="nadpisy">
        <button onclick=showPlaylistDialog()>Add Playlist</button>
        <div>
            <dialog id="playlist-dialog" class="make-playlist">
                <form action="{{ url_for('zpracuj_playlist') }}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="playlistfile" accept=".png, .jpg, .jpeg" required><br>
                    <label for="">Name:</label>
                    <input type="text" name="name" required autocomplete="off"/><br>
                    <label for ="">Description:</label>
                    <input type="text" name="description" required autocomplete="off"/><br>
                    <input type="submit" value="Add">
                </form>
                <button onclick=closePlaylistDialog()>Cancel</button>
            </dialog>
        </div>
    
        {% set has_playlist = false %}
        <br><h1>Playlists</h1><br>
        <div class="scrollmenu">
            <table> 
                <tr>
                    {% for playlist in playlists %}
                        {% if playlist.author == user %}
                            {% set has_playlist = true %}
                            <th class="songs">
                                <div class="album">
                                    <a href="" class="SP_MP">
                                        <img class="btn_img" src="../static/data/playlists/{{ playlist.playlistfile }}"/>
                                        <p class="playlist_popis">{{ playlist.name }}</p>
                                    </a>
                                </div>
                            </th>
                        {% endif %}
                        {% if not has_playlist %}
                            <div class="notfound">
                                <h1>You have no playlists!</h1><br>
                                <p>You can make a playlist by clicking the "Add Playlist" button!</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table><br>
        </div>
    </div>
<map name="workmap">
  <area shape="default" coords="34,44,270,350" alt="Computer" href="computer.htm">
</map>
<script>
    const MakePlaylist = document.getElementById("playlist-dialog")
    
    function showPlaylistDialog(){
        MakePlaylist.showModal()
    }

    function closePlaylistDialog(){
        MakePlaylist.close()
    }
</script>
</body>
</html>