<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{playlist.name}}</title>
</head>
<body class="pozadi">
    {% include "navbar.html" %}

    {% set ns = namespace(album_songs=0) %}
    {% for song in songs %}
        {% if song.song_id in playlist["songs"] %}
            {% set ns.album_songs = ns.album_songs + 1 %}
        {% endif %}
    {% endfor %}
    <!--totoč přidává pořadí písniček-->

    <div class="nadpisy"><br><br>
        <div class="album_albumpage">
            <div class="cover_albumpage">
                <img class="album_cover_albumpage" src="../static/data/playlists/{{ playlist.playlistfile }}"/>
            </div>
            <div class="details_albumpage">
                <p>Playlist</p>
                <h1 class="album_title_albumpage">{{ playlist.name }}</h1>
                <p class="album_details_albumpage">
                    <a href="" class="SP_MP">{{ playlist.author }} </a>
                    ♦ {{ ns.album_songs }} songs </p><br>
                <p class="album_details_albumpage">{{ playlist.description }} </p><br>
            </div>
        </div>
        <div class="scrollmenu_albumpage">
            {% set ns = namespace(album_song_place=0) %}
            {% for song in songs %}
                {% if song.song_id in playlist["songs"] %}
                    <div class="song">
                        <div class="place_albumpage">
                        {% set ns.album_song_place = ns.album_song_place + 1 %}
                        <p>{{ ns.album_song_place }}.</p>
                        </div>
                        <div class="song_details_albumpage">
                            <a href="" class="SP_MP"><b class="playlist_popis">{{ song.title }}</b></a>
                            <button style="font-size: large;" onclick="showPlaylistDialog('{{ song.song_id }}')">+</button><br>
                            <b class="popisky_play">{{ song.author }}</b>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div>
        <dialog id="playlist-dialog" class="make-playlist">
            <form action="{{ url_for('add_to_playlist') }}" method="POST" enctype="multipart/form-data">
                <label for="playlist">Playlist:</label>
                <select name="playlist" required class="selecter">
                    {% for playlist in playlists %}
                        {% if playlist.author == user %}
                            <option value="{{ playlist.playlist_id }}">{{ playlist.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select><br>
                <input type="hidden" name="song" id="song-id-input">
                <input type="submit" value="Add">
            </form>
            <button onclick="closePlaylistDialog()">Cancel</button>
        </dialog>
    </div>

    <script>
        const MakePlaylist = document.getElementById("playlist-dialog");
        const songIdInput = document.getElementById("song-id-input");

        function showPlaylistDialog(songId) {
            songIdInput.value = songId;
            MakePlaylist.showModal();
        }

        function closePlaylistDialog() {
            MakePlaylist.close();
        }
    </script>
</body>
</html>