<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile of {{jmeno}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        body {
            {% if userColor %}
                background-color: {{ userColor }};
            {% else %}
                background: linear-gradient(to bottom, #d89e00, #282828);
                backgroun,d-attachment: fixed;
            {% endif %}
        }
        .choose-background-color {
            {% if userColor %}
                background-color: {{ userColor }};
            {% else %}
                background-color: dimgrey;
            {% endif %}
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}

    <div class="pfp">
        {% if pfp_file_id %}
            <img class="profile-image"
         src="https://drive.google.com/uc?export=view&id={{ pfp_file_id }}"
         alt="profile image" width="300" height="300">
        {% else %}
            <img class="profile-image"
         src="https://freesvg.org/img/abstract-user-flat-4.png"
         alt="default profile image" width="300" height="300">
        {% endif %}
        <h3 class="profile-username">{{jmeno}}</h3>

        <h1 class="profile-followers"><u>Followers</u>:</h1>
        <h1 class="profile-following"><u>Following</u>:</h1>

        <div class="personal-info">
            <h4>About Me:</h4>
            {% if userInfo %}
                <p>{{ userInfo }}</p>
            {% else %}
                <p>Tell us something about yourself!</p>
            {% endif %}
            <form action="/profile" method="POST">
                <textarea name="personalInfo" id="bioInput" placeholder="Write a short bio or your hobbies here..." rows="3" cols="30" maxlength="150"></textarea><br>
                <small id="charCount">0 / 150 characters</small><br>
                <input type="submit" value="Save Information">
            </form>
        </div>

    </div>

    <div class="profile-settings-bg">
        <h1 class="user-settings"><u>User Settings</u></h1>

        <div class="settings-block">
            <p class="profile-settings-text">Sound quality</p>
            <div class="snd-drpdwn">
                <button class="snd-drpbtn">select here</button>
                <div class="snd-drpdwn-content">
                    <a href="#">Bad</a>
                    <a href="#">Better</a>
                    <a href="#">Good</a>
                    <a href="#">High</a>
                    <a href="#">Best</a>
                </div>
            </div>
        </div>

        <div class="settings-block">
            <form action="/profile" method="POST" class="choosebgcolorform">
                <p class="profile-settings-text">Choose a background color for your profile:</p>
                <input type="color" class="choose-background-color" name="setbgcolor" id="BgColorPicker">
                <input type="submit" value="SET COLOR" id="nastavBarvu">
            </form>
        </div>

    <div class="settings-block">
        <form action="{{ url_for('profile') }}" method="POST" enctype="multipart/form-data">
            <p class="profile-settings-text">Změnit profilový obrázek:</p>
            <input type="file" name="userpfp" accept="image/*" required />
            <input type="submit" value="UPLOAD" />
        </form>

        <h2><a href="{{ url_for('feedback') }}" id="feedbackBtn">Feedback</a></h2>
    </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>