<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile of {{jmeno}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        body {
            {% if userColor %}
                background-color: {{ userColor }};
            {% else %}
                background: linear-gradient(to bottom, #d89e00, #282828);
                background-attachment: fixed;
            {% endif %}
        }
        .choose-background-color {
            {% if userColor %}
                background-color: {{ userColor }};
            {% else %}
                background-color: dimgrey;
            {% endif %}
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}

    <div class="pfp">
        <img class="profile-image" src="https://freesvg.org/img/abstract-user-flat-4.png" alt="profile image"
        width="300px" height="300px">
        <h3 class="profile-username">{{jmeno}}</h3>
        <h1 class="profile-followers"><u>Followers</u>:</h1>
        <h1 class="profile-following"><u>Following</u>:</h1>
        <h1 class="profile-bio">[About me]</h1>
        <a href="{{ url_for('feedback') }}" id="feedbackBtn">Feedback</a>

    </div>

    <div class="profile-settings-bg">
        <h1 class="user-settings"><u>User Settings</u></h1>
        <br/>

        <p class="profile-settings-text">Sound quality</p>
        <div class="snd-drpdwn">
            <button class="snd-drpbtn">select here</button>
            <div class="snd-drpdwn-content">
                <a href="#">Bad</a>
                <a href="#">Better</a>
                <a href="#">Good</a>
                <a href="#">High</a>
                <a href="#">Best</a>
            </div>
        </div>

        <br/>

        <form action="/profile" method="POST" class="choosebgcolorform">
            <p class="profile-settings-text">Choose a background color for your profile:</p>
            <input type="color" class="choose-background-color" name="setbgcolor" id="BgColorPicker">
            <input type="submit" value="SET COLOR" id="nastavBarvu">
        </form>
        <script>
            var userColor = "{{ userColor }}" || "white";
            document.getElementById("BgColorPicker").setAttribute("value", userColor);
        </script>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>