<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="nav">
        <h1><a href="/" class="titleLogin">Toney</a></h1>
        
    </div>
    <section>
        <div class="Regform-box">
            <div class="form-value">
                <form action="{{ url_for('registrace') }}" method="POST">
                    <h2>Register</h2>

                    <div class="inputbox" class="Username"> <!-- username pole -->
                        <ion-icon name="person-outline" class="login-icons"></ion-icon>
                        <input type="text" name="username" required>
                        <label for="" class="NameLabel">Username</label>


                    <div class="inputbox"> <!-- email pole -->
                        <ion-icon name="mail-outline" class="login-icons"></ion-icon>
                        <input type="email" name="email" required>
                        <label for="" class="EmailLabel">Email</label>
                    </div>

                    <div class="inputbox"> <!-- password pole -->
                        <ion-icon name="lock-closed-outline" class="login-icons"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="" class="PasswordLabel">Password</label>
                    </div>

                    <input type="submit" class="login-button" value="Register">

                    <div class="Login">
                        <p>Already have an account? <a href="login" class="reg">Login</a></p>
                    </div>

                </form>
            </div>        
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>