<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="pozadi">

    <div class="nav">
        <h1><a href="/" class="title">Toney</a></h1>
        <a href="social" class="btn">Social</a>
        <a href="profile" class="profile-button">Profile</a>
        <a href="/" class="btn">Home</a>
        <a href="explore" class="btn">Explore</a>
        <a href="library" class="btn">Library</a>
        <a href="add-song" class="btn">Add Song</a>
        <a href="login" class="btne">Login</a>
    </div><br>

    <div class=" BigBoi">
        
        <div class="ChatList">
            <h3 class="chats">Chats</h3>
            {% if username is none %}
            <br>
            <h4 class="LoginChat">You have to be logged in to be able to do that!</h4>
            <br>
            <a href="login" class="LogSoc">Log In</a>
            {% endif %}
        </div>
        <div class="Posts">
            <h3 class="posttitle">Posts</h3>
            <br>
            <div class="postarea">
                <h4 class="PostText">EXAMPLE POST</h4>
                <h5 class="PostText">Description example</h5>
                <br>
                <img src="https://cdn.discordapp.com/attachments/1054816477032755282/1118791265337741422/image.png" alt="">
            </div>
            
        </div>
    </div>
    
</body>
</html>