<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="pozadi">

    {% include "navbar.html" %}

    <div class=" BigBoi">
        
        <div class="ChatList">
            <h3 class="chats">Chats</h3>
            {% if username is none %}
            <br>
            <h4 class="LoginChat">You have to be logged in to be able to do that!</h4>
            <br>
            <a href="login" class="LogSoc">Log In</a>
            {% endif %}
        </div>
        <div class="Posts">
            <h3 class="posttitle">Posts</h3>
            <br>
            <div class="postarea">
                <h4 class="PostText">EXAMPLE USER</h4>
                <h5 class="PostText">Post example</h5>
                <br>
            </div>
            {% for post in posts %}
            <br>
            <div class="postarea">
                <h4 class="PostText">{{ post.username }}</h4>
                <h5 class="PostText">{{ post.content }}</h5>
                <br>
            </div>
            {% endfor %}
            {% if username is not none %}
            <form action="{{ url_for('zpracuj_post') }}" method="POST" class="postSender">
                <input type="text" name="post_content" id="post_content" class="postInput">
                <input type="submit" value="Send" class="postButton">
            </form>
            {% endif %}
        </div>
    </div>
    
</body>
</html>