<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">

    {% include "navbar.html" %}

    <div class=" BigBoi">
        
        <div class="ChatList">
            <h3 class="chats">Chats</h3>
            {% if username is none %}
            <br>
            <h4 class="LoginChat">You have to be logged in to be able to do that!</h4>
            <a href="login" class="LogSoc">Log In</a>
            {% else %}
            <br>
            <div class="chatDiv">
                <h4 class="chatUser">Toney</h4>
                <h6 class="chatMSG">This is a test chat!</h6>
            </div>
            {% for chat in chats %}
            {% if chat["username"] == username %}
            <br>
            <div class="chatDiv">
                <h4 class="chatUser"><a href="social/chat_url/{{ chat.code }}" class="chatUser">{{ chat.username2 }}</a></h4>
                <h6 class="chatMSG">Null</h5>
            </div>
            {% endif %}
            {% if chat["username2"] == username %}
            <br>
            <div class="chatDiv">
                <h4 class="chatUser"><a href="{{ chat.code }}" class="chatUser">{{ chat.username }}</a></h4>
                <h6 class="chatMSG">Null</h5>
            </div>
            {% endif %}
            {% endfor %}
            <h4 class="LoginChat">There dont seem to be any chats right now :(</h4>
            {% endif %}

            <form action="{{ url_for('zpracuj_chat') }}" method="POST" class="chatSender">
                <input type="text" name="chat_person" id="chat_person" class="postInput" autocomplete="off" required>
                <input type="submit" value="Add" class="postButton">
            </form>
        </div>

        <div class="PostZone">
            <div class="postarea">
                <h4 class="PostText">EXAMPLE USER</h4>
                <h5 class="PostText">Post example</h5>
                <br>
            </div>
            {% for post in posts %}
            <br>
            <div class="postarea">
                <h4 class="PostText">{{ post.username }}</h4>
                <h5 class="PostText">{{ post.content }}</h5>
                <img src="/static/data/attachments/{{ post.attachment }}" alt="" class="PostAttachment">
                <br>
            </div>
            {% endfor %}
        </div>

        <div class="Posts">
            <h3 class="posttitle">Posts</h3>
            <br>
            {% if username is not none %}
            <form action="{{ url_for('zpracuj_post') }}" method="POST" class="postSender" enctype="multipart/form-data">
                <input type="file" name="post_attachment" id="post_attachment" accept=".png, .jpeg, .jpg">
                <input type="text" name="post_content" id="post_content" class="postInput" autocomplete="off">
                <input type="submit" value="Send" class="postButton">
            </form>
            {% endif %}
        </div>
    </div>
    
</body>
</html>