@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'varela round', 'dela gothic one', 'sans-serif';
}
.ahoj{
    background-color: aqua;
    text-align: center;
}

.pozadi {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(20, 20, 20); /* Pro prohlížeče co nepodporují gradient */
    background-image: linear-gradient(rgb(0, 127, 150),rgb(20, 20, 20));
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    background-color: rgb(15, 15, 15); 
    font-size: 20px;
    padding: 20px;
    text-align: center;
    z-index: 2;
}

.title {
    color: azure;
    text-decoration: none;
    float: left;
    line-height: 80%;
    font-family: 'dela gothic one';
    transform: translateY(-5px);
}

.titleLogin {
    color: azure;
    text-decoration: none;
    float: none;
    line-height: 80%;
    font-family: 'dela gothic one';
}

.title:visited {
    color: azure;
}

.titleLogin:visited {
    color: azure;
}

.btn {
    text-decoration: none;
    color: azure;
    padding-right: 3vw;
    line-height: 150%;
}
.btn:visited {
    color: azure;
}
.btn:hover {
    font-weight: bold;
}

.btne {
    text-decoration: none;
    color: azure;
    float: right;
    line-height: 150%;
}
.btne:visited {
    color: azure;
}
.btne:hover {
    font-weight: bold;
}


/* celá ta jezdící věc */
::-webkit-scrollbar {
    width: 10px;
  }
/* cesta */
::-webkit-scrollbar-track {
    background-color: rgba(15, 15, 15, 0); 
  }
/* jezdítko */
::-webkit-scrollbar-thumb {
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
  }
  
/* jezdítko pokud je na něj najeto */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(116, 116, 116); 
  }

.profile-button{
    text-decoration: none;
    color: azure;
    padding-right: 3vw;
    line-height: 150%;
}  

.profile-button:hover{
    font-weight: bold;  
}

.profile-button:visited{
    color: azure
}
/*----------------------------------------Main Page----------------------------------------------*/
.nadpisy{
    padding: 50px;
    padding-left: 100px;
    color: azure;
}

.songs{
    text-align: left;
    vertical-align:top;
}

.popisky{
    color: rgb(155, 152, 152);
}

.popisky_play{
    color: rgb(155, 152, 152);
}

.Music_MP{
    height: 30px;
}

.QP_MP{
    padding-bottom: 80px;
    width:100%
}

.TR_MP{
    height: 20px;
}

.TR2_MP{
    height: 140px;
}

.btn_img {
    text-decoration: none;
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 6%;
}

.btn_img:visited {
    text-decoration: none;
    color: azure;
}

.btn_img:hover {
    text-decoration: none;
}

.SP_MP{
    text-decoration: none;
    color: azure;
    text-align: center; 
}

.SP_MP:visited {
    text-decoration: none;
    color: azure;
}

.SP_MP:hover {
    text-decoration: none;
    color: azure;
}

.WHATLEY_CRAB{
    font-size: 10px;
    text-align: right;
    text-decoration: none;
    color: dimgrey;
}

.WHATLEY_CRAB:visited{
    text-decoration: none;
    color: dimgrey;
}

.WHATLEY_CRAB:hover {
    text-decoration: none;
    color: dimgrey;
}

.playlist_popis{
    text-decoration: none;
    color: azure;
    text-align: left;
}

.playlist_popis:hover{
    text-decoration: underline;
}

.playlist_popis:visited{
    text-decoration: none;
}

.player-mainpage {
    text-align: center;
    margin-top: 20px;
}

.hotbar-mainpage {
    display: none;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*------------------------------------Login, Register, Password reset-------------------------------------------*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(20, 20, 20); /* Pro prohlížeče co nepodporují gradient */
    background-image: linear-gradient(rgb(0, 127, 150),rgb(20, 20, 20))
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: rgb(5, 100, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0,1vw;
    border-color: rgb(15, 15, 15);
}
.Regform-box{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgb(5, 100, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0,1vw;
    border-color: rgb(15, 15, 15);
}
h2{
    font-size: 2em;
    color: azure;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;

}

.Usernameinputbox{
    position: relative;
    margin: 25px 0;
    width: 310px;

    
}

.NameLabel{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 15px;
    pointer-events: none;
    transition: .2s;
    margin: -180px 0;
    color: azure;
}

.EmailLabel{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 15px;
    pointer-events: none;
    transition: .2s;
    margin: -37px 0;
    color: azure;
}

.PasswordLabel{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 15px;
    pointer-events: none;
    transition: .2s;
    margin: -37px 0;
    color: azure;
}

/*.inputbox label{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 15px;
    pointer-events: none;
    transition: .2s;
    margin: -37px 0;
}*/

/*input:focus ~ label,*/
/*input:focus ~ :valid{
top: -1px;    
}*/
.inputbox input{
    width: 85%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding:0 35px 0 5px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.Usernameinputbox input{
    width: 85%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding:0 35px 0 5px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.Register {
    color: azure;
}

.Username {
    color: azure;
}

.forget {
    color: azure;
}

.reg {
    color: azure;
}

.reg:visited {
    color: azure;
}

.forgot {
    color: azure;
}

.forgot:visited {
    color: azure;
}

.looking_for_secrets_are_we{
    text-decoration: none;
}

.looking_for_secrets_are_we:visited{
    text-decoration: none;
}

.Login {
    color: azure;
}

.login-icons {
    color: azure
}

.login-button{
    background-color: #001741;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.noaccount{
    margin-left: 5px;
}

.rstyourpasswordhere{
    color: azure;
    font-style: italic;
}

.loginhere{
    margin-left: 5px;
}

.herebtn{
    margin-left: 5px;
}

.herebtn:visited{
    color: azure;
}
/*--------------------------------------------Library---------------------------------------------------------*/
.img-obrazky-jedn{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 7px solid #0a0a0a;
    padding: 20px;
    margin-left: 100px;
    position: absolute; top: 150px;
}

.img-obrazky {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 100px;
    display: inline-block;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(10, 10, 10);
    padding: 20px;
    border-radius: 25px;
}

.LB-container {
    position: relative;
    display: inline-block;
}

.HVR-LB {
    position: absolute;
    color: black;
    top: 65%;
    left: 75%;
    background-color: lime;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease 0s;
}

.HVR-LB:hover{
    transform: translateY(-20px);
    transition-delay: 0.2s;
}

.Pojmenovani{
    margin-left: 505px;
    margin-bottom: 100px;
    position: absolute; top: 170px;
    font-size: 23px;
}

.Info-o-playlistu{
    margin-left: 507px;
    margin-bottom: 100px;
    position: absolute; top: 400px;
    font-size: 20px;
    color: rgb(44, 44, 44);
}

.Nadpisy-playlistu{
    margin-left: 500px;
    margin-bottom: 100px;
    position: absolute; top: 200px;
    font-size: 70px;
}

.Electro{
    padding: 10px;
    text-indent: 110px;
    display: inline-block;
}

.Jazz{
    padding: 10px;
    text-indent: 240px;
    display: inline-block;
}

.My-playlist{
    padding: 10px;
    text-indent: 227px;
    display: inline-block;
}

.Hip-Hop{
    padding: 10px;
    text-indent: 193px;
    margin-bottom: 25px;
    display: inline-block;
}

.Country{
    padding: 10px;
    text-indent: 215px;
    display: inline-block;
}

.Easter{
    padding: 10px;
    display: inline-block;
    font-size: 10px;
    color: rgb(0, 127, 150);
}

.Librarysongs-R2{
    position: absolute;
    margin-top: 110px;
}

.Librarysongs-1{
    padding-left: 500px;
    color: white;
    font-size: 25px;
}

.Librarysongs-2{
    padding-left: 500px;
    color: gray;
    position: absolute;
}

.Librarymusic{
    height: 50px;
    width: 1400px;
    padding: 40px;
    padding-left: 500px;
}
/*--------------------------------------------Jednotlive zanry-------------------------------------------------------*/

.Music{
    position: relative;
    padding-left: 500px;
    padding-top: 50px;
}

.Odsazení-název-playlist{
    padding-left: 500px;
    padding-top: 400px;
}

.Odsazení-album-playlist{
    padding-left: 350px;
    padding-top: 400px;
}

.Odsazení-time-playlist{
    padding-left: 800px;
    padding-top: 400px;
}








/*--------------------------------------------Social-------------------------------------------------------*/

.ChatList {
    text-align: left;
    background-color: rgb(77, 77, 77);
    color:  azure;
    width: 30vw;
    height: 40vw;
    border-style: solid;
    border-width: 0,1vw;
    border-color: rgb(15, 15, 15);
    float: none;
    margin-top: 40px;
    z-index: 2;
    position: fixed;
    right: 0;
}

.chats {
    background-color: rgb(37, 37, 37);
    color: azure;
    text-align: right;
    font-family: 'dela gothic one';
    float: none;
}

.posttitle {
    background-color: rgb(37, 37, 37);
    color: azure;
    text-align: left;
    font-family: 'dela gothic one';
    float: none;
}

.postarea {
    background-color:azure;
    width: 300px;
    border-style: solid;
    border-width: 0,1vw;
    border-color: lightgrey;
    color: rgb(44, 44, 44);
}

.LogSoc {
    color: azure;
    float: none;
    text-decoration: none;
    padding: 0,1vw;
    font-weight: bold;
    font-size: large;
    margin-left: 1vw;
}

.LogSoc:visited {
    color: azure;
    float: none;
    text-decoration: none;
    padding: 0,1vw;
    font-weight: bold;
    font-size: large;
}

.LogSoc:hover {
    color: rgb(121, 255, 255);
    float: none;
    text-decoration: none;
    font-weight: bold;
    padding: 0,1vw;
    transition: 300ms;
    font-size: large;
    background-color: dimgray;
}

.Posts {
    text-align: left;
    background-color: rgb(77, 77, 77);
    color:  azure;
    width: 30vw;
    height: 40vw;
    border-style: solid;
    border-width: 0,1vw;
    border-color: rgb(15, 15, 15);
    float: none;
    margin-top: 40px;
    position: fixed;
    z-index: 2;
}

.postSender {
    position: absolute;
    bottom: 5px;
    margin-left: 3vw;
    background-color:azure;
    width: 300px;
    border-style: solid;
    border-width: 0,1vw;
    border-color: gainsboro;
}

.postInput {
    background-color:rgb(99, 99, 99);
    width: 240px;
    border-style: solid;
    border-width: 0,1vw;
    border-color: rgb(88, 88, 88);
    color: azure;
}

.postButton {
    background-color:rgb(99, 99, 99);
    width: 50px;
    border-style: solid;
    border-width: 0,1vw;
    border-color: rgb(88, 88, 88);
    color: azure;
    position: absolute;
    right: 0;
}


.BigBoi{
    margin-top: 1vh;
}

.LoginChat {
    float: none;
    padding-left: 1vw;
}

.PostText {
    float: none;
}

.Posts {
    display: block;
    float: left;
    }
.ChatList{
    display: block;
    float: right;
    }

.PostZone
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}

.PostAttachment{
    max-width: 350vw;
    max-height: 350vh;
}

.chatDiv{
    margin-left: 1vw;
    background-color:rgb(37, 37, 37);
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(15, 15, 15);
}

.chatMSG{
    color: gray;
}

.chatSender {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-right: 3vw;
    background-color:azure;
    width: 300px;
    border-style: solid;
    border-width: 0,1vw;
    border-color: gainsboro;
}

/*--------------------------Profile-----------------------------*/

.pozadi-profile{
    background-image: linear-gradient(rgb(216, 158, 0), rgb(40, 40, 40));
    background-size: cover;
    
}

.pfp{
    background-color: rgb(26, 26, 26);
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
    display: flex;
}

.logout-btn{
    position: absolute;
    color: orange;
    background-color: rgb(40, 40, 40);
    /*margin-left: 1000px;*/
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 150%;
    font-family: 'Dela Gothic One';
    
}

.logout-btn:hover{
    font-weight: bolder;
    transform: translateY(-5px);
    transition: 100ms;
}

.profile-image{
    margin: 3vh
    
}

.profile-username{
    font-size: 100px;
    margin-top: 1vw;
    color: azure;

}

.profile-followers{
    color: rgb(170, 170, 170);
    position: absolute;
    margin-top: 150px;
    margin-left: 360px;

    
}

.profile-following{
    color: rgb(170, 170, 170);
    position: absolute;
    margin-top: 150px;
    margin-left: 700px;
}

.profile-bio{
    color: rgb(170, 170, 170);
    position: absolute;
    font-size: 100%;
    margin-top: 220px;
    margin-left: 360px;
}

.profile-settings-bg{
    background-color: rgb(26, 26, 26);
    margin: 5vh;
    padding: 2vh;
    padding-bottom: 300px;
}

.user-settings{
    color:azure;
    margin-top: 1vh;
    margin-left: 1vh;
}

.snd-quality{
    color: azure;
    margin-left: 1vh;
    margin-top: 2vh;
    font-size: 150%;
    display: inline-block;
}

.snd-drpbtn {
    background-color: rgb(35 35 35);
    color: rgb(161, 161, 161);
    padding: 12px;
    font-size: 17px;    
    border: none;
}

.snd-drpdwn {
    position: absolute;
    display: inline-block;
    margin-left: 1500px;
    margin-bottom: 150px;
}

.snd-drpdwn-content {
    display: none;
    position: absolute;
    background-color: rgb(40, 40, 40);
    min-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
    text-align: center;
}

.snd-drpdwn-content a{
    color: azure;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.snd-drpdwn-content a:hover{
    background-color: rgb(35 35 35);
}

.snd-drpdwn:hover .snd-drpdwn-content{
    display: block;
}

.snd-drpdwn:hover .snd-drpbtn{
    background-color: rgb(50, 50, 50);
}

.autoplayswitch{
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2vh;
    margin-right: 5vh;
}

.autoplayswitch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.autoplay{
    display: inline-block;
    color: azure;
    position: absolute;

}

.selecter{
    width: 200px;
}

.passCheckbox {
    color: white
}

#visibleText{
    font-weight: bold;
    color: yellow;
}

#loginInputError{
    color: #E75151
}


.scrollmenu{
    overflow: auto;
    white-space: nowrap;
    background-color: #0a0a0a1f;
}

.album{
    margin-right: 30px;
    margin-left: 30px;
}

.song_btn_img {
    text-decoration: none;
    width: 50px;
    height:50px;
    object-fit: cover;
    border-radius: 6%;
    margin-right: 10px;
}

.song_btn_img:visited {
    text-decoration: none;
    color: azure;
}

.song_btn_img:hover {
    text-decoration: none;
}

.song{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.columns {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.cover_albumpage{
    margin-right: 20px;
}

.album_cover_albumpage{
    width: 220px;
    height:220px;
    height: auto;
    border-radius: 6%;
}

.details_albumpage{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}

.album_albumpage{
    display: flex;
    align-items: center;
}

.album_title_albumpage{
    font-size: 70px;
}

.scrollmenu_albumpage{
    border-radius: 1%;
    margin-top: 50px;
    overflow: auto;
    white-space: nowrap;
    background-color: #0a0a0a1f;
}